{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in data_list_books %}

                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
                </div>
            {% endfor %}
        </div>
        {% if prev_page %}
        <a href="{% url 'books' %}{{ prev_page }}">< {{ prev_page }}</a>
        {% endif %}
        {% if next_page %}
        <a style="margin-left: 20px" href="{% url 'books' %}{{ next_page }}">      {{ next_page }} ></a>
        {% endif %}
    </div>
{% endblock %}